@tailwind base;
@tailwind components;
@tailwind utilities;

.all-unset {
  all: unset;
}
.prose img {
  height: auto;
  object-fit: cover;
  display: block;
}

.prose pre {
  background-color: #1f1e25;
  color: #f8fafc;
  padding: 0;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Cascadia Code", monospace;
  margin: 0;
}
pre > div {
  padding: 0;
  margin: 0;
}

.prose h2 {
  margin-top: 24px;
}
